
/*
Criar as seguintes páginas:
(1)Início, onde ficará o conteúdo principal (normalmente, artigos)
Sobre, (2)com informações sobre a autoria do site, tipo de conteúdo etc.
Saiba mais, (3)com links para outros sites similares, referências a outros autores etc.
(4)Contato, (a)com e-mail e (b)endereço físico da suposta empresa, além de um (c)formulário para entrar em contato

Deve conter:
(5)Código HTML5 validado
(6)Estilização com CSS feito à mão ou com framework CSS (Bootstrap, W3.CSS etc.)
(7)Links para páginas locais (usar endereços relativos - exemplo: minha-pasta/minha-pagina.html) e
(8)remotas (usar endereços absolutos - exemplo: http://example.com/)
(9)Imagens locais (ou seja, sem depender de internet). Usar endereços relativos.
(10)Um ou mais menus animados
(11)Uma ou mais interações do usuário com o site por meio de JavaScript.
Pode ser alguma manipulação de DOM, validações de formulários que não sejam triviais o suficiente para fazer direto em HTML5 sem JS,
ou algum cálculo dinâmico baseado em dados que o usuário digite.
*/

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #E6E6FA;

}


h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #4682B4;
    font-weight: 400;
    margin-bottom: 30px;
}

.navbar {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  margin: auto;
  padding: auto;
  list-style: none;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  display: block;
  text-decoration: none;
  color: darkgray;
  background-color: #FFF;
  text-decoration: none;

}

li a:hover {
  background-color: #FFF;
}

.logo {
    color: #008B8B;
    font-size: 200px;
}


#map {
      height: 400px;
      width: 100%;
}
